.header {
    background-image: url('../../img/nyt-header-black.png');
    background-color: #f3efec;
    background-size: 40% 40%;
    background-repeat: no-repeat;
    background-position: center 35%;
    position: fixed;
    width: 100%;
    height: var(--header-height);
    z-index: 100;
    border-bottom: 3px ridge grey;
  }
  
  
  .stamp {
    color: #b10c0c;
      position: absolute;
      left: 50%;
      top: 50%;
      
      font-size: 7em;
      margin: 0;
      padding: 0 20px;
      font-family: 'Times New Roman', Times, serif;
  }
  
 
  
  .button-dark {
    font-size: 2.2em;
    padding: 0.7em 1.3em;
    font-weight: 600;
    border: none;
    background: black;
    color: white;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    margin: 1em 1em 1em 0.25em;
  }
  
  .button-dark:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .button-group {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  #viewSaved {
    left: 11.5%;
  }
  
  .filler {
    width: 100%;
    height: var(--header-height);
  }