#neon:before {
    -webkit-animation-name: pulse;
            animation-name: pulse;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 60ms;
            animation-duration: 60ms;
  }
  
  @-webkit-keyframes pulse {
      0% {
          -webkit-filter: blur(30px);
                  filter: blur(30px);
      }
      50% {
          -webkit-filter: blur(40px);
                  filter: blur(40px);
      }
      100% {
          -webkit-filter: blur(30px);
                  filter: blur(30px);
  
  }
  }
  
  @keyframes pulse {
      0% {
          -webkit-filter: blur(30px);
                  filter: blur(30px);
      }
      50% {
          -webkit-filter: blur(40px);
                  filter: blur(40px);
      }
      100% {
          -webkit-filter: blur(30px);
                  filter: blur(30px);
  
  }
  }

  .stamp {
        transform: rotate(-12deg);
              color: #b10c0c;
              font-size: 5rem;
              font-weight: 700;
              border: 0.25rem solid #b10c0c;
              display: inline-block;
              padding: 0.25rem 1rem;
              text-transform: uppercase;
              border-radius: 1rem;
              font-family: 'Courier';
              -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
        -webkit-mask-size: 944px 604px;
        mix-blend-mode: multiply;
      }
      